################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Substitutii monoalfabetice/.vs/Substitutii monoalfabetice/v17
/Substitutii monoalfabetice/.vs/Substitutii monoalfabetice
/Substitutii polialfabetice
